Main/MLifter.DAL/Web References/LearningModulesService/MLifterLearningModulesService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.memorylifter.com/sync/learningmodules/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.memorylifter.com/sync/learningmodules/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.memorylifter.com/sync/learningmodules/">
      <s:import namespace="http://www.w3.org/2001/XMLSchema" />
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoginResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserList">
        <s:complexType />
      </s:element>
      <s:element name="GetUserListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserListResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLearningModulesList">
        <s:complexType />
      </s:element>
      <s:element name="GetLearningModulesListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLearningModulesListResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getClientPwd">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lmid" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="clientId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getClientPwdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getClientPwdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLearningModuleIndexEntry">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="learningModuleId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="clientId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLearningModuleIndexEntryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLearningModuleIndexEntryResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserListSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserList" />
  </wsdl:message>
  <wsdl:message name="GetUserListSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserListResponse" />
  </wsdl:message>
  <wsdl:message name="GetLearningModulesListSoapIn">
    <wsdl:part name="parameters" element="tns:GetLearningModulesList" />
  </wsdl:message>
  <wsdl:message name="GetLearningModulesListSoapOut">
    <wsdl:part name="parameters" element="tns:GetLearningModulesListResponse" />
  </wsdl:message>
  <wsdl:message name="getClientPwdSoapIn">
    <wsdl:part name="parameters" element="tns:getClientPwd" />
  </wsdl:message>
  <wsdl:message name="getClientPwdSoapOut">
    <wsdl:part name="parameters" element="tns:getClientPwdResponse" />
  </wsdl:message>
  <wsdl:message name="GetLearningModuleIndexEntrySoapIn">
    <wsdl:part name="parameters" element="tns:GetLearningModuleIndexEntry" />
  </wsdl:message>
  <wsdl:message name="GetLearningModuleIndexEntrySoapOut">
    <wsdl:part name="parameters" element="tns:GetLearningModuleIndexEntryResponse" />
  </wsdl:message>
  <wsdl:portType name="MLifterLearningModulesServiceSoap">
    <wsdl:operation name="Login">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Authenticates the user.</wsdl:documentation>
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets the list of users from the server.</wsdl:documentation>
      <wsdl:input message="tns:GetUserListSoapIn" />
      <wsdl:output message="tns:GetUserListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLearningModulesList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets the list of learning modules from the server.</wsdl:documentation>
      <wsdl:input message="tns:GetLearningModulesListSoapIn" />
      <wsdl:output message="tns:GetLearningModulesListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getClientPwd">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns the Client Password</wsdl:documentation>
      <wsdl:input message="tns:getClientPwdSoapIn" />
      <wsdl:output message="tns:getClientPwdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLearningModuleIndexEntry">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets a detailed learning module index entry.</wsdl:documentation>
      <wsdl:input message="tns:GetLearningModuleIndexEntrySoapIn" />
      <wsdl:output message="tns:GetLearningModuleIndexEntrySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MLifterLearningModulesServiceSoap" type="tns:MLifterLearningModulesServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://www.memorylifter.com/sync/learningmodules/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserList">
      <soap:operation soapAction="http://www.memorylifter.com/sync/learningmodules/GetUserList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLearningModulesList">
      <soap:operation soapAction="http://www.memorylifter.com/sync/learningmodules/GetLearningModulesList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getClientPwd">
      <soap:operation soapAction="http://www.memorylifter.com/sync/learningmodules/getClientPwd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLearningModuleIndexEntry">
      <soap:operation soapAction="http://www.memorylifter.com/sync/learningmodules/GetLearningModuleIndexEntry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MLifterLearningModulesServiceSoap12" type="tns:MLifterLearningModulesServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://www.memorylifter.com/sync/learningmodules/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserList">
      <soap12:operation soapAction="http://www.memorylifter.com/sync/learningmodules/GetUserList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLearningModulesList">
      <soap12:operation soapAction="http://www.memorylifter.com/sync/learningmodules/GetLearningModulesList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getClientPwd">
      <soap12:operation soapAction="http://www.memorylifter.com/sync/learningmodules/getClientPwd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLearningModuleIndexEntry">
      <soap12:operation soapAction="http://www.memorylifter.com/sync/learningmodules/GetLearningModuleIndexEntry" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MLifterLearningModulesService">
    <wsdl:port name="MLifterLearningModulesServiceSoap" binding="tns:MLifterLearningModulesServiceSoap">
      <soap:address location="http://localhost/MLifterSyncService/MLifterLearningModulesService.asmx" />
    </wsdl:port>
    <wsdl:port name="MLifterLearningModulesServiceSoap12" binding="tns:MLifterLearningModulesServiceSoap12">
      <soap12:address location="http://localhost/MLifterSyncService/MLifterLearningModulesService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>